/* color scheme inspired by https://www.awwwards.com/sites/adult-swim-singles-2016 */
:root {
    --navyblue: #004961;
    --indigo: #E9CFF1;
    --peach: #FFDDA7;
    --nightsky: #242424;
}

/* Set root font size, 1 em, to 10px for easier calculation
    Credit to https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
    and mini-project 2 for information about implementing em */
html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--navyblue);
    color: var(--peach);
}

h1 {
    font-size: 6rem;
    margin: 0 auto;
    padding: 1rem;
}

h2 {
    font-size: 5rem;
    border-bottom: solid var(--indigo);
    color: var(--indigo);
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--indigo);
    font-size: 3rem;
}

header {
    background-color: var(--nightsky);
    width: 100%;
    text-align: center;
}

.nav-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 5rem;
    margin-bottom: 5rem;
}

nav li {
    font-size: 3rem;
    padding-inline: 2rem;
    border-bottom: solid var(--peach);
}

main {
    margin: auto 5rem;
}

.section-style {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.bio p {
    margin-left: 2rem;
    width: 100%;
}

.figure-wrapper {
    position: relative;
    
}

.portrait {
    height: fit-content;
    width: 100%;
    border: solid 0.5rem var(--peach);
}

.portrait-caption {
    position: absolute;
    bottom: 5%;
    text-align: center;
    background-color: var(--peach);
    color: var(--nightsky);
    padding: 1rem;
    opacity: 0;
    transition: all 0.6s ease;
}

figure:hover .portrait-caption {
    opacity: .8;
}

.works {
    flex-wrap: wrap;
}

.work-panel {
    flex: 0 0 100%;
    height: 35rem;
    width: 100%;
    border: solid 4px var(--peach);
    filter: sepia(0.6);
    margin-bottom: 1rem;
}

.work-panel:hover {
    filter:sepia(0);
}

.work-panel-caption {
    position: absolute;
    bottom: 5%;
    text-align: center;
    background-color: var(--peach);
    color: var(--nightsky);
    padding: 1rem;
    font-size: 3rem;
}

.contact-style {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.contact-style li {
    padding-bottom: 1.5rem;
    padding-right: 2rem;
}

.contact-style a {
    text-decoration: underline 3px var(--peach);
}


@media screen and (min-width: 768px) {
    h1 {
        padding-inline: 10%;
    }

    /* https://www.geeksforgeeks.org/how-to-wrap-the-text-around-an-image-using-html-and-css/ */
    .portrait {
        float: left;
        margin-right: 2rem;
        height: 30rem;
        width: 30rem;
    }

    .bio p {
        text-align: justify;
        margin-right: 2rem;
    }

    .portrait-caption {
        bottom: -25rem;
    }

    .work-panel-row{
        display: flex;
        flex-direction: row;
    }

    .figure-wrapper {
        margin-right: 1em;
    }

    .contact-style {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 992px) {
    
    .section-style {
        flex-direction: row;
    }

    h2 {
        border-bottom: none;
        border-right: solid var(--indigo);
        margin-right: 5rem;
        padding: 2rem;
        flex: 0 0 225px;
        text-align: right;
    }

    .contact-style {
        padding-block: 5rem;
        margin-left: 0;
    }

    .work-layout {
        width: 65%;
    }
}