/* color scheme inspired by https://www.awwwards.com/sites/adult-swim-singles-2016 */
:root {
    --earth: #be6850;
    --blue-green: #85dcba;
    --orange: #e8a87c;
    --grape: #a56587;
    --turquiose: #52a89d;
}

/* Set root font size, 1 em, to 10px for easier calculation
    Credit to https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
    and mini-project 2 for information about implementing em */
html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--turquiose);
    color: var(--orange);
}

h1 {
    font-size: 5rem;
    margin: 0 auto;
    padding: 1rem;
}

h2 {
    font-size: 4rem;
    border-bottom: solid var(--orange);
    margin-bottom: 2rem;
}

header {
    background-color: var(--grape);
    width: 100%;
    text-align: center;
}

nav {
    background-color: var(--blue-green);
    width: 100%;
    padding: 1rem;
}

.nav-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav li {
    font-size: 3rem;
    padding-inline: 1rem;
    border-bottom: solid var(--orange);
}

main {
    margin: auto 4rem;
}

.section-style {
    margin-bottom: 7rem;
}

.bio {
    display: flex;
    flex-direction: column;
}

.bio p {
    margin-left: 2rem;
}

#figure-wrapper {
    position: relative;
    
}

.portrait {
    height: fit-content;
    width: 100%;
    border: solid 0.5rem var(--grape);
}

.portrait-caption {
    position: absolute;
    bottom: 5%;
    text-align: center;
    background-color: var(--grape);
    padding: 1rem;
    opacity: 0;
    transition: all 0.6s ease;
}

figure:hover .portrait-caption {
    opacity: 1;
}

.contact-style {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--orange);
    font-size: 3rem;
    border-bottom: solid var(--orange);
}

.contact-style li {
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

@media screen and (min-width: 768px) {
    h1 {
        padding-inline: 10%;
    }

    /*.portrait {
        margin: 1em;
        
        margin-left: 5rem;
    }*/

    /*figcaption {
        left: 25rem;
        top: 1em;
        bottom: auto;
    }*/

    .portrait {
        float: left;
        margin-right: 2rem;
        height: 25rem;
        width: 25rem;
    }

    .bio p {
        text-align: justify;
        margin-right: 2em;
    }

    .contact-style {
        flex-direction: row;
        justify-content: space-evenly;
    }
}