/* color scheme drawn from https://www.canva.com/colors/color-palettes/star-studded-sky/ */
:root {
    --navyblue: #004961;
    --indigo: #E9CFF1;
    --peach: #FFDDA7;
    --nightsky: #242424;
}

/* Set root font size, 1 em, to 10px for easier calculation*/
html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--navyblue);
    color: var(--peach);
}


a {
    text-decoration: none;
    color: var(--indigo);
    font-size: 3rem;
}


/*=== HEADER STYLE ===*/
header {
    background-color: var(--nightsky);
    width: 100%;
    text-align: center;
}

nav li {
    font-size: 3rem;
    padding-inline: 2rem;
    border-bottom: solid var(--peach);
}


/*=== MAIN STYLE ===*/
main {
    margin: auto 4rem;
    padding: 1rem;
    background-color: var(--nightsky);
}

.figure-wrapper {
    position: relative;
}

.portrait-caption {
    position: absolute;
    bottom: 6%;
    text-align: center;
    background-color: var(--peach);
    color: var(--nightsky);
    padding: 1rem;
    opacity: 0;
    transition: all 0.6s ease;
}

figure:hover .portrait-caption{
    opacity: .8;
}

.caption {
    position: absolute;
    bottom: 4rem;
    text-align: center;
    background-color: var(--peach);
    color: var(--nightsky);
    padding: 1rem;
    font-size: 3rem;
    opacity: 0;
    transition: all 0.6s ease;
}

figure:hover .caption{
    opacity: .9;
}


/*=== CONTACTS STYLE ===*/

/* Archived: Replaced with Tailwind Queries
/
/*=== MEDIA QUERY: TABLET ===*/
/* @media screen and (min-width: 768px) {
    h1 {
        padding-inline: 10%;
    }

    .portrait {
        float: left;
        margin-inline: 3rem;
        height: 30rem;
        width: 30rem;
    }

    .bio p {
        margin-right: 2rem;
    }

    .section-style {
        margin-top: 3rem;
    }

    .portrait-caption {
        bottom: -30rem;
        left: 3rem;
    }

    .work-panel-row{
        display: flex;
        flex-direction: row;
    }

    .figure-wrapper {
        margin-right: 1em;
    }

    .contact-style {
        flex-direction: row;
        justify-content: space-evenly;
    }
} */


/*=== MEDIA QUERY: DESKTOP ===*/
/* @media screen and (min-width: 992px) {
    
    .section-style {
        flex-direction: row;
    }

    h2 {
        border-bottom: none;
        border-right: solid var(--indigo);
        margin-right: 5rem;
        padding: 2rem;
        flex: 0 0 225px;
        text-align: right;
    }

    .contact-style {
        padding-block: 5rem;
        margin-left: 0;
    }

    .work-layout {
        width: 65%;
    }
} */
